* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share style */
.font-science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
}

.logo h2{
    color: rgb(45, 30, 30);
    font-weight: 900;
    font-size: 45px;
}

.color-orange{
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* main style */
header {
    background-color: #ec8d4a56;
    padding-top: 50px;
    background: url("/images/developer.png"), url("/images/header_bg.png"), #ec8d4a56;
    background-position: top left, right bottom ;
    background-repeat: no-repeat;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 62px;
    font-size: 20px;
    align-items: center;
}

a {
    text-decoration: none;
}

#banner {
    border: solid 1px red;
    margin: 89px 38px 22px 209px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p {
    height: 60px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}

.banner-content img {
    max-width: 585px;
    vertical-align: middle;
}