* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share style */
.font-science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
}

.logo h2{
    color: rgb(45, 30, 30);
    font-weight: 900;
    font-size: 45px;
}

.color-orange{
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading{
     max-width: 827px;
     text-align: center;
     margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}

.text-center{
    text-align: center;
}

/* main style */
header {
    background-color: #ec8d4a56;
    padding-top: 50px;
    background: url("/images/developer.png"), url("/images/header_bg.png"), #ec8d4a56;
    background-position: 23px 38px, right bottom ;
    background-repeat: no-repeat;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 62px;
    font-size: 20px;
    align-items: center;
}

a {
    text-decoration: none;
}

#banner {
    border: solid 1px red;
    margin: 89px 38px 22px 209px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p {
    height: 60px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}

.banner-content img {
    max-width: 585px;
    vertical-align: middle;
}

#about, #skill , .resume{
    margin: 0 auto;
    padding-top: 130px;
    border: solid rgb(255, 170, 0) 1px;
}

.about-container {
    /* display: flex; */
    width: 71%;
    height: 537px;
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.034);
    text-align: center;
    padding: 80px 100px;
    gap: 30px;
}

.about-container .about-info  {
    display: flex;
    justify-content: space-around;
}

.info-card p {
    height: 25px;
    line-height: 30px;
    color: #757575;   
}

.info-card h4 {
    font-size: 20px;
}

.skills-container {
    width: 81%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.skill-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    
}

.skill-card {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.189);
    max-width: 250px;
    text-align: left;
    padding: 30px;
    border: solid 1px black;
    /* display: flex; */
    flex: 1 1 280px;
    text-align: left;
    justify-content: center;
}

.skill-card p {
    font-size: 15px;
    line-height: 1.5;
    color: #757575;
}
.skill-card img {
    height: 30px;
    max-width: 44px;
    margin-bottom: 20px;
}

.skill-card h3 {
    /* font-size: 20px; */
    margin-bottom:20px;
}

.resume-container hr {
    color: rgb(149, 9, 9);
    margin: 30px 0;
}

.resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title {
    margin-bottom: 30px;
    columns: #474747;
    font-size: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    color: #474747;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 15px;
    color: #757575;
}

.resume-card .card-text{
    color: #474747;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 28px;
}

footer {
    margin-top: 113px;
    background-color: #ec8d4a56;
    display: flex;
}

footer .footer-container {
    width: 71%;
    max-width: 1140px;
    display: flex;
    gap: 117px;
    padding: 130px 0;
    margin: 0 auto;
}

.footer-container .social {
    max-width: 562px;
}


.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.social p {
    color: #474747;
    margin: 20px 0 30px 0;
    line-height: 28px;
}

.footer-container .icon a {
    margin-right: 24px;
}

.footer-container form input[type="text"] , .footer-container form textarea{
    width: 461px;
    height: 64px;
    margin-bottom: 24px;
    padding: 18px 31px;
    border: none;
    border-radius: 3px;
    color: #757575;
}

